{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

<!-- BROWESER TITLE  -->
{% block page_title %}Customers{% endblock %}Customer List{% block page_heading %}Customers{% endblock %}


<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a type="button" data-bs-toggle="modal" data-bs-target="#customer_modal" class="btn side-menu-link btn-success"><i
        class="bi bi-person-plus"></i> <span>Add customer</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'invoice_list' %}" class="btn side-menu-link btn-light"><i
        class="bi bi-box-arrow-right"></i><span>Invoices</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->
{% block mobile_menu_action_items %}
<li><a type="button" data-bs-toggle="modal" data-bs-target="#customer_modal" class="btn side-menu-link btn-success"><i
            class="bi bi-person-plus"></i> <span>Add customer</span></a></li>
{% endblock mobile_menu_action_items %}

{% block mobile_menu_nav_items %}
<li><a href="{% url 'invoice_list' %}" class="btn side-menu-link btn-light"><i
            class="bi bi-box-arrow-right"></i><span>Invoices</span></a></li>
{% endblock mobile_menu_nav_items %}


<!-- SEARCH BAR -->
{% block filter_search %}
<div class="col-12 offset-md-7 col-md-5">
    {% include 'includes/searchbar.html' %}
</div>
{% endblock %}


<!-- CONTENT  -->
{% block dashboard_content %}

<!-- customer list table -->
<table class="table table-hover align-middle">
    <tbody id="table-body">
        {% for customer in customer_list %}
        <tr>
            <!-- mobile first column  -->
            <td scope="row"><a href="{% url 'customer_summary' slug=customer.slug  %}" class="fs-4">{{ customer.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% crispy customer_form %}



{% endblock %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="{% static 'customer/js/customer.js' %}"></script>
{% endblock %}