{% extends "base_dashboard.html" %}
{% load static %}

{% block css %}
{{block.super}}
    <link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block page_title %}Customer name #{{invoice.invoice_number}}{% endblock %}

{% block page_heading %}Customer naem #{{invoice.invoice_number}}{% endblock %}

<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a href="" class="btn side-menu-link text-white"><i class="bi bi-person-plus"></i> <span>Add customer</span></a>
<a href="" class="btn side-menu-link text-white"><i class="bi bi-truck"></i> <span>Add vehicle</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="" class="btn side-menu-link text-white"><i class="bi bi-box-arrow-right"></i><span>Invoices</span></a>     
{% endblock side_menu_nav_items %}

{% block dashboard_content %}

    edit form

{% endblock %}