{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block page_title %}{{item.name}}{% endblock %}

{% block page_heading %}{{item.name}}{% endblock %}

<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<button type="button" data-bs-toggle="modal" data-bs-target="#vehicle_modal" class="btn side-menu-link text-white">
        <i class="bi bi-truck"></i><span>Add vehicle</span></button>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'invoice_list' %}" class="btn side-menu-link text-white">
        <i class="bi bi-box-arrow-right"></i><span>Invoices</span></a>
<a href="{% url 'customer_list' %}" class="btn side-menu-link text-white">
        <i class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MAIN CONTENT  -->
{% block dashboard_content %}

        <!-- edit customer form  -->
        {% crispy customer_form %}

        <!-- delete customer confirmation modal  -->
        {% with type='customer' delete_name='delete_customer' %}
        {% include 'includes/modals/delete_item.html' %}
        {% endwith %}

        <!-- horizontal rule if customer has vehicles registered -->
        {% if vehicles %}
        <hr>
        {% endif %}

        <!-- add vehicle form (modal)  -->
        {% crispy add_vehicle_form %}

        <!-- edit vehicle forms  -->
        {% for edit_vehicle_form in edit_vehicle_form_list %}
                {% crispy edit_vehicle_form %}
        {% endfor %}

        <!-- delete vehicle confirmation modals -->
        {% with type="vehicle" delete_name='delete_vehicle'%}
        {% for item in vehicles %}
                {% include 'includes/modals/delete_item.html' %}
        {% endfor %}
        {% endwith %}



{% endblock %}

