{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block page_title %}{{instance.name}}{% endblock %}

{% block page_heading %}{{instance.name}}{% endblock %}

<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a href="" data-bs-toggle="modal" data-bs-target="#vehicle_modal" class="btn side-menu-link text-white"><i class="bi bi-truck"></i> <span>Add vehicle</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'invoice_list' %}" class="btn side-menu-link text-white"><i class="bi bi-box-arrow-right"></i><span>Invoices</span></a>
<a href="{% url 'customer_list' %}" class="btn side-menu-link text-white"><i
        class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MAIN CONTENT  -->
{% block dashboard_content %}

{% crispy customer_form %}

<hr>

<!-- FORMS -->
<!-- add vehicle form (modal)  -->
{% crispy add_vehicle_form %}

<!-- edit vehicle forms  -->
{% for edit_vehicle_form in edit_vehicle_form_list %}
        {% crispy edit_vehicle_form %}
{% endfor %}

delete confirmation forms
{% with type="vehicle" delete_name='delete_vehicle'%}
{% for item in vehicles %}
{% include 'includes/modals/delete_item.html' %}
{% endfor %}
{% endwith %}

{% endblock %}

