{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block page_title %}Invoice #{{item.id}}{% endblock %}

{% block page_heading %}Invoice #{{item.id}}{% endblock %}

<!-- SIDE MENU ITEMS -->

{% block side_menu_top %}
<div class=" bg-light text-black align-self-center flex-fill mt-5">
   <div class="d-md-block d-none px-1  m-3">
    <h4 class="mb-2">Totals</h4>
    <div>
        {% include "includes/invoice_totals.html" %}
    </div>
</div> 
</div>

{% endblock %}

<!-- action  -->
{% block side_menu_action_items %}
<!-- save all forms  -->
{% if item.status < 5 %}
    <button class="btn btn-primary side-menu-link" id="save-button" onclick="submitForm()"><i class="bi bi-floppy2"></i>Save</button>
{% endif %}
<!-- change invoice status  -->
<form action="{% url 'invoice_list' %}" method="POST" id="invoice_change_status">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{item.pk}}">
    <input type="hidden" name="filter" value="active">
    {% with available_status=item.status|get_dict_value:available_status_map %}
        {% for key, desc in available_status.items %}
            <!-- a loop to display available options to user  -->
            {% if key < item.status %}
            <!-- previous status not available, this should be done from invoice_list  -->
            {% else %}
            <!-- all other options -->
            <button type="submit" name="status" value="{{key}}" 
                class="btn btn-{{ item.status|get_dict_value:status_class_map }} side-menu-link">
                <i class="bi bi-chevron-double-right"></i>{{desc}}
            </button>
            {% endif %}
        {% endfor %}
    {% endwith %}
</form>
{% endblock side_menu_action_items %}

<!-- nav  -->
{% block side_menu_nav_items %}
<a href="{% url 'invoice_list' %}" class="btn side-menu-link btn-light"><i
        class="bi bi-box-arrow-right"></i><span>Invoices</span></a>
<a href="{% url 'customer_list' %}" class="btn side-menu-link btn-light"><i
        class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->

<!-- action  -->
{% block mobile_menu_action_items %}
<!-- save all forms  -->
{% if item.status < 5 %}
    <button class="btn btn-primary side-menu-link" id="save-button" onclick="submitForm()"><i class="bi bi-floppy2"></i>Save</button>
{% endif %}
<!-- change invoice status  -->
<form action="{% url 'invoice_list' %}" method="POST" id="invoice_change_status">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{item.pk}}">
    <input type="hidden" name="filter" value="active">
    {% with available_status=item.status|get_dict_value:available_status_map %}
        {% for key, desc in available_status.items %}
            <!-- a loop to display available options to user  -->
            {% if key < item.status %}
            <!-- previous status not available, this should be done from invoice_list  -->
            {% else %}
            <!-- all other options -->
            <button type="submit" name="status" value="{{key}}" 
                class="btn btn-{{ item.status|get_dict_value:status_class_map }} side-menu-link">
                <i class="bi bi-chevron-double-right"></i>{{desc}}
            </button>
            {% endif %}
        {% endfor %}
    {% endwith %}
</form>
{% endblock mobile_menu_action_items %}
<!-- nav  -->
{% block mobile_menu_nav_items %}
<li><a href="{% url 'invoice_list' %}" class="btn side-menu-link btn-light"><i
            class="bi bi-box-arrow-right"></i><span>Invoices</span></a></li>
<li><a href="{% url 'customer_list' %}" class="btn side-menu-link btn-light"><i
            class="bi bi-box-arrow-right"></i><span>Customers</span></a></li>
{% endblock mobile_menu_nav_items %}

<!-- DASHBOARD CONTENT  -->
{% block dashboard_content %}
{% if item.status < 5 %}
<div class="invoice-container mb-5">
    <div class="accordion mb-4" id="invoice-accordion">
        <!-- INVOICE DETAILS  -->
        <form action="{% url 'invoice_summary' item.slug %}" method="POST" id="invoice-form">
            {% csrf_token %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#invoice-accordion-collapseOne" aria-expanded="true"
                        aria-controls="invoice-accordion-collapseOne">
                        Invoice Details
                    </button>
                </h2>
                <div id="invoice-accordion-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {% crispy edit_invoice_form %}
                    </div>
                </div>
            </div>
            <!-- PARTS  -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Parts
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div>
                            {{ part_formset.management_form }}
                            {% crispy part_formset %}                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- LABOUR  -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Labour
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div>
                            {{ labour_formset.management_form }}
                            {% crispy labour_formset %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- TOTALS  -->
    <div class="row">
        <div class="col-12 d-md-none">
            <div class="invoice-summary-total p-2">
                <p>Totals</p>
            </div>
            <div>
                <div class="card card-body invoice-summary-card">
                    <div class="px-2">
                        {% include "includes/invoice_totals.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
{% include 'includes/invoice_complete.html'%}
<div class="toast-container position-absolute top-0 start-0 p-3">
    <div class="toast" id="copied-toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-success">
            <strong class="mr-auto"><i class="bi bi-clipboard-check-fill me-3"></i>Copied!</strong>
        </div>
        <div class="toast-body">
            Content copied to clipboard.
        </div>
    </div>
</div>

{% endif %}

<!-- delete invoice confirmation modals -->
{% with type="invoice" delete_name='delete_invoice'%}
{% include 'includes/modals/delete_item.html' %}
{% endwith %}

{% endblock %}

{% block js %}
{{ block.super }}
<!-- submit all forms javascript  -->
<script>
    function submitForm() {
      let form = document.getElementById('invoice-form');
      form.submit();
    }
</script>
<script src="{% static 'invoice/js/invoice.js' %}"></script>
{% endblock %}