{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

<!-- BROWSER TITLE  -->
{% block page_title %}Invoice List{% endblock %}
{% block page_heading %}Invoice List{% endblock %}


<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link text-white"><i
        class="bi bi-patch-plus"></i> <span>Add invoice</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'customer_list' %}" class="btn side-menu-link text-white"><i
        class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->
{% block mobile_menu_action_items %}
<li><a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link text-white"><i
            class="bi bi-patch-plus"></i> <span>Add invoice</span></a></li>
{% endblock %}

{% block mobile_menu_nav_items %}
<li><a href="{% url 'customer_list' %}" class="btn side-menu-link text-white"><i
    class="bi bi-box-arrow-right"></i><span>Customers</span></a></li>
{% endblock %}


<!-- FILTER AND SEARCH BAR -->
{% block filter_search %}
<!-- filtermenu  -->
<div class="col-7 d-none d-lg-block mb-4">
    <ul class="nav nav-tabs nav-fill" role="navigation">
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'active' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}">Active</a>
        </li>        

        {% if Accounts %}
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'pending' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}?filter=pending">Pending</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'inactive' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}?filter=inactive">Inactive{{user}}{{Mechanic}}</a>
        </li>
    </ul>
</div>
<!-- searchbar  -->
<div class="col-lg-5 d-none d-lg-block ">
    <form action="{% url 'invoice_list' %}" method="GET">
        {% include 'includes/searchbar.html' %}
    </form>
</div>
<div class="text-end">{% if search_term %} <p class="fs-6 fw-light">Results for: {{search_term}}</p> {% endif %}</div>
{% endblock %}

<!-- CONTENT -->
{% block dashboard_content %}
{% crispy create_invoice_form %}
<div class="table-responsive">
    <table class="table table-hover align-middle invoice-list-table">
        <tbody>
            {% if invoices %}
            {% for invoice in invoices %}
            {% with status=invoice.status %}
            {% if status == 1 and Mechanic or status == 3 and Mechanic %}
            {% elif status == 4 and not Accounts %}
            {% else %}
            <tr class="{{ invoice.status|get_class:table_class_dict }}">
                <!-- mobile column  -->
                <td class=" d-lg-none fs-6">
                    <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice|truncatechars:25}}</a>
                </td>
                <!-- desktop columns  -->
                <th scope="row " class="d-none d-lg-table-cell">
                    <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice.date_in|date_uk}}</a>
                </th>
                <td class="d-none d-lg-table-cell">
                    <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice}}</a>
                </td>
                <!-- column on all devices -->
                <td>
                    <form action="{% url 'invoice_list' %}" method="POST" id="invoice_change_status_{{invoice.pk}}">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{invoice.pk}}">
                        <input type="hidden" name="filter" value="{{filter_status}}">
                        <select class="form-select" aria-label="Default select example" onchange="submitForm(this)"
                            name="status">
                            <option selected disabled>{{invoice.get_status_display}}</option>
    
                            {% for value, desc  in invoice.available_status_options.items %}
                            <!-- a loop to display available options to user  -->
                            {% if value == 1 and Mechanic %}
                            {% elif value == 1 %}
                            <!-- option = work on hold  -->
                            <option value="{{value}}" style="font-style: italic;">{{desc}}</option>
                            {% elif value < status %}
                            <!-- option is previous  -->
                            <option value="{{value}}" style="font-style: italic;">Go back to: {{desc}}</option>
                            {% else %}
                            <!-- all other options -->
                            <option value="{{value}}">{{desc}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            {% endfor %}
            {% else %}
            <div class="text-center">
                <h5>No results</h5>
            </div>
            
            {% endif %}
    
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
{{block.super}}
<script>
    function submitForm(selectElement) {
        selectElement.form.submit();
    }
</script>
{% endblock %}