{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

<!-- BROWSER TITLE  -->
{% block page_title %}Invoice list{% endblock %}Invoices{% block page_heading %}invoice #12345{% endblock %}


<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link text-white"><i
        class="bi bi-patch-plus"></i> <span>Add invoice</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'customer_list' %}" class="btn side-menu-link text-white"><i
        class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->
{% block mobile_menu_action_items %}
<li><a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link text-white"><i
            class="bi bi-patch-plus"></i> <span>Add invoice</span></a></li>
{% endblock mobile_menu_action_items %}

{% block mobile_menu_nav_items %}
<li><a class="dropdown-item mobile-side-menu-link" href="#"><i
            class="bi bi-box-arrow-right"></i><span>Customers</span></a></li>
{% endblock mobile_menu_nav_items %}


<!-- FILTER AND SEARCH BAR -->
{% block filter_search %}
<!-- filtermenu  -->
<div class="col-7 d-none d-lg-block mb-4">
    <ul class="nav nav-tabs nav-fill" role="navigation">
        {% if 'Mechanic' in user.groups.all|join:',' %}
        {% endif %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == '' %} active" aria-current="page" {% else %} " {% endif %} href="">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none" href="{% url 'invoice_list' %}">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-lg-none" href="{% url 'invoice_list' %}">Inactive</a>
        </li>
    </ul>
</div>
<!-- searchbar  -->
<div class="col-lg-5 d-none d-lg-block ">
    <form action="{% url 'invoice_list' %}" method="GET">
        {% include 'includes/searchbar.html' %}
    </form>
</div>
{% endblock %}

<!-- CONTENT -->
{% block dashboard_content %}
{% crispy create_invoice_form %}
<table class="table table-hover align-middle">
    <tbody>
        {% for invoice in invoices %}
        <tr>
            <!-- mobile first column  -->
            <th class="d-lg-none" scope="row"><a href="{% url 'index' %}"></a></th>
            <!-- desktop columns  -->
            <th scope="row " class="d-none d-lg-table-cell"><a
                    href="{% url 'invoice' invoice.slug %}">{{invoice}}{{invoice.status.display}}</a></th>
            <td class="d-none d-lg-table-cell"><a
                    href="{% url 'invoice' invoice.slug %}">{{invoice.pk}}{{invoice.inv_number}}</a></td>
            <!-- column on all devices -->
            <td>
                <form action="{% url 'invoice_list' %}" method="POST" id="invoice_change_status_{{invoice.pk}}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{invoice.pk}}">
                    <select class="form-select" aria-label="Default select example" onchange="submitForm(this)"
                        name="status">
                        <option selected disabled>{{invoice.get_status_display}}</option>

                        {% for value, desc  in invoice.available_status_options.items %}
                        <!-- a loop to display available options to user  -->
                        {% if value == 1 %}
                        <!-- option = work on hold  -->
                        <option value="{{value}}" style="font-style: italic;">{{desc}}</option>
                        {% elif value < invoice.status %}
                        <!-- option is previous  -->
                        <option value="{{value}}" style="font-style: italic;">Go back to: {{desc}}</option>
                        {% else %}
                        <!-- all other options -->
                        <option value="{{value}}">{{desc}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </td>
        </tr>
        {% endfor %}

        <tr class="table-primary">
            <th class="d-lg-none" scope="row"><a href="{% url 'index' %}">Registration & Customer</a></th>
            <th scope="row" class="d-none d-lg-table-cell">Primary</th>
            <td class="d-none d-lg-table-cell">Column content</td>
            <td>Column content</td>
        </tr>

        <tr class="table-success">
            <th class="d-lg-none" scope="row"><a href="{% url 'index' %}">Registration & Customer</a></th>
            <th scope="row" class="d-none d-lg-table-cell">Success</th>
            <td class="d-none d-lg-table-cell">Column content</td>
            <td>Column content</td>
        </tr>

        <tr class="table-warning">
            <th class="d-lg-none" scope="row"><a href="{% url 'index' %}">Registration & Customer</a></th>
            <th scope="row" class="d-none d-lg-table-cell">Warning</th>
            <td class="d-none d-lg-table-cell">Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block js %}
{{block.super}}
<script>
    function submitForm(selectElement) {
        selectElement.form.submit();
    }
</script>
{% endblock %}