{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

<!-- BROWSER TITLE  -->
{% block page_title %}Invoice List{% endblock %}
{% block page_heading %}Invoice List{% endblock %}


<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}

    <a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link btn-success"><i
            class="bi bi-patch-plus"></i> <span>Add invoice</span></a>

{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="{% url 'customer_list' %}" class="btn side-menu-link btn-light"><i
    class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->
{% block mobile_menu_action_items %}
{% if not Accounts %}
    <li><a type="button" data-bs-toggle="modal" data-bs-target="#invoice_modal" class="btn side-menu-link btn-success"><i
        class="bi bi-patch-plus"></i> <span>Add invoice</span></a></li>
{% endif %}
{% endblock %}

{% block mobile_menu_nav_items %}
<li><a href="{% url 'customer_list' %}" class="btn side-menu-link btn-light"><i
    class="bi bi-box-arrow-right"></i><span>Customers</span></a></li>
{% endblock %}


<!-- FILTER AND SEARCH BAR -->
{% block filter_search %}
<!-- filtermenu  -->
<div class="col-5 offset-2 d-none d-lg-block mb-4">
    <ul class="nav nav-tabs" role="navigation">
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'active' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}">Active</a>
        </li> 
        {% if not Mechanic %}
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'pending' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}?filter=pending">Pending</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link {% if filter_status == 'inactive' %}active" aria-current="page" {% else %}" {% endif %}
            href="{% url 'invoice_list' %}?filter=inactive">Inactive</a>
        </li>
    </ul>
</div>
<!-- searchbar  -->
<div class="col-lg-5 d-none d-lg-block ">
    <form action="{% url 'invoice_list' %}" method="GET">
        {% include 'includes/searchbar.html' %}
    </form>
</div>
<div class="text-end">{% if search_term %} <p class="fs-6 fw-light">Results for: {{search_term}}</p> {% endif %}</div>
{% endblock %}

<!-- CONTENT -->
{% block dashboard_content %}
{% crispy create_invoice_form %}
<div class="table-responsive">
    <table class="table table-hover align-middle invoice-list-table fs-6">
        <tbody>
            {% if invoices %}
                {% for invoice in invoices %}
                    <!-- LOOP THROUGH INVOICES  -->
                    {% with status=invoice.status %}
                        {% if status == 1 and not Foreman or status == 2 and Accounts or status == 3 and not Foreman or status == 4 and Mechanic %}
                        <!-- 'work on hold', 'ready for processing', 'ready for verification' not available for mechanic users  -->
                        {% else %}
                        <tr class="table-{{ invoice.status|get_dict_value:status_class_map }}">
                            <!-- mobile column  -->
                            <td class=" d-lg-none fs-6">
                                <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice|truncatechars:28}}</a>
                            </td>
                            <!-- desktop columns  -->
                            <td scope="row " class="d-none d-lg-table-cell">
                                <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice.date_in|date_uk}}</a>
                            </td>
                            <td class="d-none d-lg-table-cell">
                                <a href="{% url 'invoice_summary' invoice.slug %}">{{invoice}}</a>
                            </td>
                            <!-- column on all devices -->
                            {% if Foreman %}
                            <td class="d-none d-md-table-cell">
                                <form action="{% url 'invoice_list' %}" method="POST" id="invoice_change_status_{{invoice.pk}}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{invoice.pk}}">
                                    <input type="hidden" name="filter" value="{{filter_status}}">
                                    <select class="form-select" aria-label="Default select example" onchange="submitForm(this)"
                                        name="status">
                                        <option selected disabled>{{invoice.get_status_display}}</option>
                                        <!-- NEXT STATUS SELECTIONS  -->
                                        {% with available_status=invoice.status|get_dict_value:available_status_map %}
                                            {% for key, desc in available_status.items %}
                                                <!-- a loop to display available options to user  -->
                                                {% if key == 1 and Mechanic %}
                                                <!-- option 'work on hold' is not available for mechanic users  -->
                                                {% elif key == 1 %}
                                                <!-- option = work on hold  -->
                                                <option value="{{key}}" style="font-style: italic;">{{desc}}</option>
                                                {% elif key < status %}
                                                <!-- option is previous  -->
                                                <option value="{{key}}" style="font-style: italic;">Go back to: {{desc}}</option>
                                                {% else %}
                                                <!-- all other options -->
                                                <option value="{{key}}">{{desc}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% else %}
            <div class="text-center">
                <h5>No results</h5>
            </div>
            
            {% endif %}
    
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
{{block.super}}
<script>
    function submitForm(selectElement) {
        selectElement.form.submit();
    }
</script>
{% endblock %}