{% extends "base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block page_title %}Invoice #{{item.id}}{% endblock %}

{% block page_heading %}Invoice #{{item.id}}{% endblock %}

<!-- SIDE MENU ITEMS -->
{% block side_menu_action_items %}
<a href="" class="btn side-menu-link text-white"><i class="bi bi-nut"></i> <span>Add Part</span></a>
<a href="" class="btn side-menu-link text-white"><i class="bi bi-clock"></i> <span>Add Labour</span></a>
<a href="" class="btn side-menu-link text-white"><i class="bi bi-patch-plus"></i> <span>Add invoice</span></a>
{% endblock side_menu_action_items %}

{% block side_menu_nav_items %}
<a href="" class="btn side-menu-link text-white"><i class="bi bi-box-arrow-right"></i><span>Customers</span></a>
{% endblock side_menu_nav_items %}

<!-- MOBILE MENU ITEMS  -->
{% block mobile_menu_action_items %}
<li><a class="dropdown-item mobile-side-menu-link" href="#"><i class="bi bi-gear"></i><span>Add part</span></a></li>
<li><a class="dropdown-item mobile-side-menu-link" href="#"><i class="bi bi-clock"></i><span>Add labour</span></a></li>
{% endblock mobile_menu_action_items %}

{% block mobile_menu_nav_items %}
<li><a class="dropdown-item mobile-side-menu-link" href="#"><i
            class="bi bi-box-arrow-right"></i><span>Customers</span></a></li>
{% endblock mobile_menu_nav_items %}


{% block dashboard_content %}

<div class="invoice-container">
    <!-- INVOICE DETAILS  -->
    <div class="mb-4">
        <button class="btn btn-outline-dark invoice-summary-button w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseInvoiceDetails" aria-expanded="false" aria-controls="collapseInvoiceDetails">
            <h4>Invoice details</h4>
        </button>
        <div class="collapse" id="collapseInvoiceDetails">
            <div class="card card-body invoice-summary-card">
                {% crispy edit_invoice_form %}

            </div>
        </div>
    </div>

    <!-- PARTS  -->
    <div class="mb-4">
        <!-- title  -->
        <button class="btn btn-outline-dark invoice-summary-button w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePartsDetails" aria-expanded="false" aria-controls="collapsePartsDetails">
            <h4>Parts {{item.parts_subtotal}}</h4>
        </button>
        <!-- body  -->
        <div class="collapse" id="collapsePartsDetails">
            <div class="card card-body invoice-summary-card">
                <form method="POST" action="{% url 'invoice_summary' slug=item.slug %}">
                    <div>
                        {{ part_formset.management_form }}
                        {% crispy part_formset %}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- LABOUR  -->
    <div class="mb-4">
        <!-- title -->
        <button class="btn btn-outline-dark invoice-summary-button w-100" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseLabourDetails" aria-expanded="false" aria-controls="collapseLabourDetails">
            <h4>Labour {{item.labour_subtotal}}</h4>
        </button>
        <!-- body  -->
        <div class="collapse" id="collapseLabourDetails">
            <div class="card card-body invoice-summary-card">
                <form method="POST" action="{% url 'invoice_summary' slug=item.slug %}">
                    <div>
                        {{ labour_formset.management_form }}
                        {% crispy labour_formset %}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- TOTALS  -->
    <div class="row">
        <div class="col-12 col-lg-5 offset-lg-7 ">
            <p>
                <div class="w-100 invoice-summary-total">
                    <h4>Totals</h4>
                </div>
            </p>
            <div>
                <div class="card card-body invoice-summary-card">
                    <p>
                        Parts: {{item.parts_subtotal|format_currency}}<br>
                        Labour: {{item.labour_subtotal|format_currency}}<br>
                        Subtotal: {{item.subtotal|format_currency}}<br>
                        VAT: {{item.vat_total|format_currency}}<br>
                        Total: {{item.grand_total|format_currency}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


