#collapseTotalsDetails .card-body{
  width: 232px;
}

p{
  margin: 0;
}

.nav-item .nav-link{
  color: #03120E;
}

.nav-tabs .nav-item .nav-link.active{
  color: #FF9D53!important;
  font-weight: 600;
}


