#collapseTotalsDetails .card-body{
  width: 232px;
}

p{
  margin: 0;
}

.nav-item .nav-link{
  color: #03120E;
}

.nav-tabs .nav-item .nav-link.active{
  color: black!important;
  font-weight: 600;
  border-bottom: 4px groove rgb(234 27 27);
}

.invoice-summary-button{
  text-align: start;
  border-radius: 0;
  border: none;
}

.invoice-summary-total{
  background-color: white;
  border: 1px solid #03120E ;
  color: black;
  padding: 0.375rem 0.75rem;
}

.invoice-summary-card{
  border-radius: 0;
}

.desc_text_area{
  height: 100px!important;
}

.nav-tabs {
  --bs-nav-tabs-border-width: none;
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
  --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}


