{% extends "base_simple.html" %}
{% load static %}
{% load custom_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<script src="{% static 'checkout/js/return.js' %}" defer></script>
{% endblock %}

{% block page_title %}{{item.inv_number}}{% endblock %}

{% block page_heading %}{{item.inv_number}}{% endblock %}


{% block simple_content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="success" class="hidden text-center">
                <h3>We appreciate your business!</h3><br>
                <h5>A confirmation email will be sent to <span id="customer-email"></span>.</h5>
                <h5>If you have any questions, please email <a href="mailto:orders@example.com">orders@example.com</a>.</h5>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{{ session_status_url|json_script:"session_status_url" }}
{{ checkout_url|json_script:"checkout_url" }}
{% endblock %}
