{% extends "base_simple.html" %}
{% load static %}
{% load custom_tags %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<script src="{% static 'checkout/js/return.js' %}" defer></script>
{% endblock %}

{% block page_title %}{{item.inv_number}}{% endblock %}

{% block page_heading %}{{item.inv_number}}{% endblock %}


{% block simple_content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="success" class="hidden">
                <p>
                  We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.
            
                  If you have any questions, please email <a href="mailto:orders@example.com">orders@example.com</a>.
                </p>
            </section>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 text-center p-4">
            <p>Not completely happy with your invoice, or have a question?<br>Contact us via email: info@madeupemail.com, or give us a call: 02920 111 111</p>
        </div>
    </div> -->
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{{ session_status_url|json_script:"session_status_url" }}
{{ checkout_url|json_script:"checkout_url" }}
{% endblock %}
