html {
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: "Saira Semi Condensed", Arial, sans-serif; 
}

body {
    font-family: 'Roboto', Arial, sans-serif; /* Fallback font stack */
}

a{
    color: black;
    text-decoration: none;
}

i{
    font-size: 25px;  
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* side menu dashboard */

.side-menu-container{
    background-color: #ffe8aa!important;
    /* border-right:7px solid #e7af36!important; */
    border-right:3px solid #8a240d!important;
    color: white;
    border: 0;
}

.side-menu-link{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border:none;
    width: 100%;
    margin-bottom: 15px;
}

.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: none;
}
.accordion{
    --bs-accordion-bg: #c7f5c309;
    --bs-accordion-bg-color: #327b270f;
    --bs-accordion-active-bg: #c7f5c32c;
    --bs-accordion-active-color: #161c22;
    --bs-accordion-btn-color: #161c22;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    font-weight: 800;
}
.side-menu-link > i{
    font-size: 25px;
    margin-right: 10px;
}

/* mobile menu */

.mobile-menu-container{
    position: fixed;
    bottom: 36px;
    right: 24px;
    z-index: 1000;
}

.mobile-menu{
    padding:20px;
    min-width: 250px;
    z-index: 1000;
    background-color: #ffe8aa;
}
.mobile-menu-button{
    min-height: 3rem;
    min-width: 3rem;
}

.mobile-menu-button:active{
    background-color: #00000069!important;
    border-color: #0c08040e!important;
    box-shadow: 0 0 5px #97dbd833 !important;
}

.mobile-menu-button i{
    font-weight: 800;
    color: white;
    font-size: 25px;
}

/* main content dashboard */

.dropdown-toggle{
    color: white;
}

.heading-row{
    padding: 1.25rem 0;
}

.dashboard-outer-container{
    overflow-y: auto;
    height: 100vh;
}

@media (max-width:992px){
    .dashboard-content-container,
    .dashboard-content-container > .row{
        min-height: calc(100vh - 240px);
    }
}

tr{
    line-height: 40px;
}

th > a,
td > a{
    text-decoration: none;
    display:block
}

/* tables */
.invoice-list-table tr, 
.invoice-list-table td,
.invoice-list-table th,
.bottom-row,
.bottom-row td{
    border: none!important;
}

/* complete invoices  */
.complete-invoice-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* highlight input fields */
.highlight {
    border: 1px solid red;
}

