html {
    height: 100%;
    overflow: hidden;
}

body{
    /* background-color: rgba(255, 124, 26, 0.65); */
    color: white;
}

h1{
    margin:0;
}

a{
    color: black;
    text-decoration: none;
}

i{
    font-size: 25px;  
}

.heading-row{
    height: 100px;
    margin-bottom: 15px;
    background-color: #00469B;
    border-radius: 8px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* side menu dashboard */
.side-menu{
    padding: 0;
}

.card{
    border: 0;
}

.card-header{
    background-color: white;
    border: 0;
}

.menu-title{
    color: slategrey;
}

.side-menu * {
    background-color: #FF7F11;
    color: white;
}

.mobile-menu * {
    color:#03120E;    
}
.mobile-menu *:target {
    color:#FF7F11;    
}

.side-menu-link{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 600;
    border:none;
    margin-right: 40px;

}

.side-menu-link:hover,
.side-menu-link:active,
.side-menu-link:focus{
    border: none;
}

.side-menu-link > i{
    font-size: 25px;
    margin-right: 2vw;
}

/* main content dashboard */

.heading-container a{
    color: white;
}

.dashboard-outer{
    overflow-y: auto;
    height: 100vh;
}

@media (max-width:992px){
    .dashboard-content-container,
    .dashboard-content-container > .row{
        min-height: calc(100vh - 240px);
    }
}

tr{
    line-height: 40px;
}

th > a,
td > a{
    text-decoration: none;
    display:block
}

/* mobile menu */

.mobile-menu-container{
    position: fixed;
    bottom: 25px;
    right: 15px;
}

.mobile-menu-button{
    border-radius: 50%;

    min-height: 3rem;
    min-width: 3rem;

}

.mobile-menu-button:active,
.mobile-menu-button:focus,
.mobile-menu-button:hover{
    background-color: #FF7F11;
    border: #FF7F11 solid 1px;
}

.mobile-menu-button i{
    font-weight: 800;
    color: white;
    font-size: 25px;
}

