<div class="dropup mobile-menu-container d-lg-none ">
    <button class="btn btn-secondary mobile-menu-button shadow" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-plus-square"></i>
    </button>
    <ul class="dropdown-menu mobile-menu">
        <li><a class="dropdown-item side-menu-link" href="#"><i class="bi bi-gear"></i>Add part</a></li>
        <li><a class="dropdown-item side-menu-link" href="#"><i class="bi bi-clock"></i>Add labour</a></li>
        <br>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item side-menu-link" href="#"><i class="bi bi-box-arrow-right"></i>Customers</a></li>
    </ul>
</div>