{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- HEADER  -->
<div class="outer-container p-0">
  <header class="container-fluid header-container">
    <div class="row heading-row">
      <div class="col d-flex align-items-center justify-content-center heading-container">
        <h1 class="d-block">{% block page_heading %}{% endblock %}</h1>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT  -->
  <div class="container content-container">
    <div class="row">
      <div class="col-12">
        {% block simple_content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}